/*---------------------------------HEADER*/
body{
    background-image:url("./download.jpg");
    
}
.header{
    list-style-type: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    background-color: brown;

    padding-left:10px;
    margin: -9px;

    justify-content: space-between;
    flex-shrink:1 ;
    flex-grow:1 ;
    display: flex;
    flex-wrap: wrap;
    align-items:flex-end;
    flex-direction: row;

    flex: 1 1 auto;
    
}
.naslov{
    font-size: 33px;
    text-align: right;
    
    
}
.muzej{
    cursor: pointer;
    font-size: 20px;
    font-style: italic;
    margin-left: 30px;
    margin-bottom: 10px;
    display: flex;
}
.muzej:hover{
    color:lawngreen;
}
.karta:hover{
    color:lawngreen;
}
.karta{
    display: flex;
    font-size: 25px;
    padding-right:10px ;
    align-content: flex-end;
    font-style: italic;
    cursor: pointer;
    
}

.muzeji{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}


/*-------------------------------------CONTAINER*/
.Glavna{
    margin-top: 9px;
    flex-direction: row;
    
    margin-left: -9px;
    margin-right: -9px;
    padding-left: 10px;

    flex-grow: 1;
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    

}
/*---------------------------------------KARTE*/
.prva{
    margin-top: 9px;
    flex-direction: row;
    margin-right: -9px;
    padding-left: 10px;

    
    justify-content:flex-start;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    

}
.labele{
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-right: 10px;
    flex: 1 1 10px;
    
    
}
.radioLabele{
    display: flex;
    flex: 3 1 auto;
    align-items: flex-start;
    
}
.forme,.rezervacijaD{
    max-width: 250px;
    min-width: 100px;
    margin-bottom:5px;
}
.labele2{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 5px;
    padding-right: 10px;
}

.kIme ,.kPrezime ,.kMuzejNaziv ,.headerGlavne,.brRezervacije{
    
    padding-left: 20px;
}
.radio{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.r{
    margin-top: 5px;
}

.nazad{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 15px;
    margin-right: 10px;
    display: none;
}
.rezervacijaN{
    display: none;
}
.rezervacijaD{
}
.nazadd{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 15px;
    margin-right: 10px;
    
}
/*--------------------------------------MUZEJI LEVA*/
.levo{
    
    flex:1 1 500px;
}
.desno{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    flex:3 1 auto;
    
}
tr{
    display: flex;
    flex-direction: row;
}
td{
    cursor:default;
    border: 1px solid white;
    flex: 1 1 180px;
    max-width: 200px;
    background-color: brown;
    color: white;
}
.ime:hover{
    cursor: pointer;
    color: lawngreen;
}
/*---------------------------------------DESNA*/
.ram{
  
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

}
.slika{
width: 50%;
max-width:fit-content
}
button{
    background-color: brown;
    color: white;
}
